{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <h1>À propos</h1>
    <img src="https://img.freepik.com/vecteurs-libre/e-learning-icones-plat_1284-3950.jpg" alt="Tunisia image" style="width: 25%; height: auto; border:2px 2px solid #000;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <p>Ceci est la page "À propos".</p>
    <a href="{{ path('app_page') }}">Retour à l'accueil</a>
    
{% endblock %}
{% block footer %}
{% endblock %}